@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/colors.scss";

.avatar-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: $grey-lighten-2;
  border-radius: 50%;
}

.avatar-simple_small {
  width: 34px;
  height: 34px;
}

.chat-content__info__title {
  font-weight: 600;
  font-size: 13px;
}
