  {{#> page centered="true"}}
    {{#> card title="Регистрация"}}
        <div class="login-form-inputs">
          {{> input label="Почта" name="email" type="text" value="pochta@yandex.ru" }}
          {{> input label="Логин" name="login" type="text" value="ivanivanov"  }}
          {{> input label="Имя" name="password" type="text" value="Иван" }}
          {{> input label="Фамилия" name="password" type="text" value="Иванов" }}
          {{> input label="Телефон" name="password" type="text" value="+7 (909) 967 30 30" }}
          {{> input label="Пароль" name="password" type="password" value="1234567890" error="true" }}
          {{> input label="Пароль (еще раз)" name="password" type="password" value="1234567890" error="true" errorMessage="Неверный логин" }}
        </div>

        <div class="login-form-controls">
          {{> buttonPrimary title="Зарегистрироваться" href="/" }}
          {{> button title="Войти" href="/auth" }}
        </div>
    {{/card}}
  {{/page}}