@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/variables.scss";

.button_rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition-duration;

  &:hover {
    opacity: $hover-opacity;
  }
}
