<div class="button_submit">
  <button
    class="button_submit__button"
    type="submit"
    form="{{form}}"
  >{{title}}</button>
  {{#if error}}
    <span class="button_submit__error">{{error}}</span>
  {{/if}}
</div>