{{#> page }}
  {{> sidebar href=backLink}}
  <div class="profile">
    <header class="profile__header">
     {{> avatar image=image}}
     <h1 class="profile__header__title">{{displayName}}</h1>
    </header>

    <div class="profile__container">
      {{> @partial-block }}
    </div>
  </div>
{{/page}}
