@import "../../../assets/styles/colors.scss";

.button_primary {
  background-color: $primary !important;
  color: white !important;
  font-size: 13px !important;

  &:hover {
    background-color: $primary-lighten-5 !important;
  }
}
