$black: #1e1e1e;

$primary: #3369f3;
$primary-lighten-5: lighten($primary, 5%);
$primary-lighten-10: lighten($primary, 10%);
$primary-lighten-15: lighten($primary, 15%);

$warning: #ff2f2f;

$grey: #999999;
