@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $primary;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  transition: $transition-duration;
  cursor: pointer;

  &:hover {
    opacity: $hover-opacity;
  }
}

.link__icon {
  margin-top: 2px;
}
