{{#> page centered="true"}}
  <div class="error-message">
    <header class="error-message__header">
      <h1 class="error-message__title">{{code}}</h1>
      <span class="error-message__text">Мы уже фиксим</span>
    </header>

    {{> link title="Назад к чатам" href="/" }}
  </div>
{{/page}}
