{{#> page centered="true"}}
  <div class="error-message">
    <header class="error-message__header">
      <h1>{{code}}</h1>
      <span>Мы уже фиксим</span>
    </header>

    <a href="/">Назад к чатам</a>
  </div>
{{/page}}